
img, object, embed, iframe {
	max-width: 100%;
}

img {
	height: auto;
}

div.updated {
	max-width: 640px;
}

.voyage-icon {
	border: 0;
	margin: -0.25em 0.25em -0.25em 0.25em;
	padding: 0;
}

.helptext {
	color: #888;
	cursor: default;
}
/* =Inline CSS
-------------------------------------------------------------- */
.inline-css {
	background:#f9f9f9;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace !important;
	outline:none;
	overflow: auto;
}

#voyage-wrapper {
	margin-left: 0;
}
/* Tabs */
#voyage-tabs {
	width: 100%;
	height: 30px;
	padding-top: 20px;
	border-bottom: 1px solid #e1e1e1;
}

.no-js #voyage-tabs {
	width: 100%;
	height: 0;
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
}

#voyage-tabs a {
	display: block;
	float: left;
	height: 21px;
	padding: 8px 15px 2px 15px;
	margin: 0;
	margin-left:10px;
	cursor: pointer;
	color: #333;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #e1e1e1;
	border-radius: 5px 5px 0 0;        
	-moz-border-radius: 5px 5px 0 0;     
	-webkit-border-radius: 5px 5px 0 0;	
}

#voyage-tabs a:hover,
#voyage-tabs .voyage-current {
	border: 1px solid #e1e1e1;
	border-radius: 5px 5px 0 0;        
	-moz-border-radius: 5px 5px 0 0;     
	-webkit-border-radius: 5px 5px 0 0;	
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
	background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
	background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
	background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0); /* for IE */
}

.voyage-pane {
	position: relative;
	display: none;
	background: #fff;
	padding-top: 10px;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}
.voyage-pane p {
	margin: 0.5em 0;
}

.voyage-pane input {
	margin: 0 0.25em 0 0.25em;
}

.voyage-pane hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}
.no-js .voyage-pane { display: block }

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}